<% if requested?(@user) %>
    <button class="btn btn-warning" type="button">Pending Request</button>
<% elsif is_following?(@user) %>
  <%= button_to "Unfollow", home_path(id: @user.id), method: :delete , class: 'btn btn-warning'%>
<% else %>
  <%= button_to "Send Request", user_requests_path(user_id: @user.id), method: :post , class: 'btn btn-info' %>
<% end %>

<%# HomeController %>
