.input-txt{
  /* width:250px; */
  margin-bottom: 10px;
}

.fc-1{
  width: 300px;
  /* text-align:center; */
  justify-content: center;
  border-radius: 15px;
  border: 2px solid rgb(215, 64, 64);
  /* align-items: center; */
}

.btn-login{
  margin-top: 2px;
  margin-bottom: 7px;
}

.h1-style{
  /* position: relative; */
  font-family: 'Montserrat', Arial, sans-serif;
  /* font-size: 14px; */
  font-weight: 700;
  /* color: #fff; */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em rgb(215, 64, 64);
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear forwards;
  font-style: italic;
}
