body {
  background: #fafafa !important;
}

.account-summary{
  text-align: left;
  margin-bottom: 20px;

}

.followers-suggestions{
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;

}

.updateavatar-form{
  margin-left: 25% !important;
  padding-top: 30px !important;
}
.updateavatar-form-input{
  width: 70%;
}
.updateavatar-buttons{
  padding-top: 40px !important;
}

.currentpass-row{
  margin-left: 50px !important;
  margin-top: 10px !important;
}

.wall-img-size{
  max-width: 800px;
  max-height: 800px;
  width: auto;
  height: auto;
}
